Lab3/Calculator/lab3_calculator_server/WebContent/wsdl/Home.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3_calculator_server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3_calculator_server" xmlns:intf="http://lab3_calculator_server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3_calculator_server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="home">
    <complexType>
     <sequence>
      <element name="source" type="xsd:double"/>
      <element name="destination" type="xsd:double"/>
      <element name="opcode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="homeResponse">
    <complexType>
     <sequence>
      <element name="homeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="homeRequest">

      <wsdl:part element="impl:home" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="homeResponse">

      <wsdl:part element="impl:homeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Home">

      <wsdl:operation name="home">

         <wsdl:input message="impl:homeRequest" name="homeRequest">

       </wsdl:input>

         <wsdl:output message="impl:homeResponse" name="homeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HomeSoapBinding" type="impl:Home">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="home">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="homeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="homeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HomeService">

      <wsdl:port binding="impl:HomeSoapBinding" name="Home">

         <wsdlsoap:address location="http://localhost:8080/lab3_calculator_server/services/Home"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
